#website {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 44px;
  font-family: "Jua";
}
h2 {
  font-size: 24px;
  font-family: "Lato";
  color: #474747;
}
h3 {
  font-size: 22px;
  font-family: "Lato";
  min-width: 150px;
  color: #474747;
}
h4 {
  font-size: 20px;
  font-family: "Lato";
  min-width: 150px;
  color: #474747;
}
h5 {
  font-size: 18px;
  font-family: "Lato";
}
p,
li,
th,
button {
  font-size: 18px;
  font-family: "Lato";
  line-height: 30px;
}
li:not(:last-child) {
  margin-bottom: 10px;
}

#titleArea {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 4%;
  /* margin-bottom: 8%; */
}

.section {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 4%;
}
.h3-section {
  margin-top: 6%;
}

a:link {
  color: black;
  text-decoration: none;
  /* text-decoration: underline; */
}
a:hover {
  color: #939ed5;
  text-decoration: underline;
}

#overview-section {
  display: flex;
  gap: 10%;
}
#tools {
  width: 25%;
  min-width: 230px;
}
.overview-text {
  margin-bottom: 0px;
  margin-top: 15px;
}

#reflection {
  margin-bottom: 12%;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 8%;
  min-width: 325px;
}

#sketches {
  display: flex;
  gap: 5%;
}
#sketch-writing {
  width: 45%;
}
#carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  width: 55%;
}
.carousel-container {
  width: 100%;
  height: 100%; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
}
.carousel-item {
  width: 100%;
  height: 100%;
  display: none;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#button-section {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.button {
  background-color: rgb(228, 228, 228);
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
.button:hover {
  background-color: rgb(243, 243, 243);
  border: #313131;
}

.hor-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.hor-section img {
  width: 80%;
  margin-right: 2%;
}
.lowfiSec {
  width: 100%;
}
.lofiFinal {
  width: 55%;
  max-width: 1000px;
}
.lofiFlow {
  width: 115%;
  max-width: 1000px;
}
#style-guide-sec {
  display: flex;
  gap: 8%;
}
.styleGuide {
  width: 100%;
  border-radius: 10px;
}
#style-guide-text {
  width: 55%;
}
#style-guide-images {
  min-width: 250px;
  width: 45%;
}
/* #type-guide {
  border-radius: 15px 15px 15px 15px;
}
#color-guide {
  border-radius: 15px 15px 15px 15px; */
/* } */
.group {
  display: flex;
  flex-direction: column;
  width: 50%;
}
video {
  width: 70%;
  min-width: 250px;
  border-radius: 15px;
}
.highfiImg {
  width: 70%;
  border-radius: 15px;
}
#reflection-sec {
  display: flex;
  gap: 5%;
  justify-content: space-between;
}
#group-pic-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* width: 50%; */
}
#group-pic {
  width: 100%;
  border-radius: 15px;
  height: fit-content;
}
#nav-right {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
}
#navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  /* justify-content: space-evenly; */
}
.margins {
  margin: 10px;
}
.title-p {
  font-size: 25px;
}

#megan-image {
  object-fit: cover;
  width: 350px;
  height: 350px;
}

.border-radius {
  border-radius: 10px;
}

#title-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-width: 250px;
  gap: 30px;
  /* width: 55%; */
}

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer-logos {
  display: flex;
  width: 57%;
  justify-content: flex-end;
  align-items: center;
}

#return-to-top {
  display: flex;
  width: 43%;
  justify-content: flex-end;
  align-items: center;
}

#footer-logos a {
  color: black;
}
#footer-logos a:hover {
  color: #939ed5;
}
#nav-left a {
  color: black;
}

#nav-left a:hover {
  color: #939ed5;
  text-decoration: none;
}

.tags {
  background-color: rgb(211, 229, 239);
  border: none;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 8px;
  /* padding-left: 6px; */
  /* padding-right: 6px; */
  /* border-radius: 10px; */
  /* cursor: pointer; */
}

.tags-white {
  background-color: white;
  border: none;
  margin-left: 5px;
  /* margin-bottom: 5px; */
  margin-right: 5px;
  border-radius: 8px;
  /* padding-left: 6px; */
  /* padding-right: 6px; */
  /* border-radius: 10px; */
  /* cursor: pointer; */
}

.text-center {
  text-align: center;
}
.mockup-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.light-blue {
  background-color: rgb(211, 229, 239);
  width: 100%;
  padding-bottom: 4%;
}

.re-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 10px;
}

.half-text-img {
  display: flex;
  /* flex-wrap: wrap; */
}
.middle {
  display: flex;
  align-items: center;
}
.nav-margins {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #939ed5;
}

#course-site {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 10px;
}
.team-text {
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: start;
  justify-content: start;
}
.grid-item {
  font-size: 30px;
  text-align: left;
}
.margin-left {
  margin-left: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
